html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position : relative;
  font-family:
    'Pixelify Sans';
  margin: auto;
  max-width: 38rem;

  background-image: url(/asset/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  border : 12px solid #f89a20;

  display : flex;
  flex-direction : column;
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url('/fonts/pixelify/PixelifySans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('/fonts/press_start_2p/PressStart2P-Regular.ttf') format('truetype');
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 36px;
  padding : 0 10px;

  background: #f89a20;
  color: #ffe680;

  -webkit-app-region: drag;
}

.title {
  font-size: 24px;
  font-weight: 500;
  color : #4e2601 ;
}

.title-bar-btns {
  display: flex;
  gap: 6px;

  -webkit-app-region: no-drag;
}

.title-bar-btns button {
  width: 28px;
  height: 22px;
  border: none;
  border-radius: 4px;

  display : flex;
  align-items: center;
  justify-content: center;

  font-family:
    'Pixelify Sans';
  font-size: 20px;

  background: transparent;
  color : #4e2601;
  cursor: pointer;
  border : 2px solid #4e2601;
}

.title-bar-btns button:hover {
  background: rgba(255, 255, 255, 0.30);
}

#close-btn:hover {
  background: #e81123;
}

.calendar {
  width : 140px;
  height : 140px;
  position : relative;

  margin-top : 16px;
  margin-left : 16px;

  color : #f89a20;
  background-color: beige;
  border : solid 6px #f89a20;
  border-radius : 16px;
  cursor : pointer;
}

.calendar:hover{
  transform: scale(1.03);
}

#calendar-title {
  background-color : #f89a20;
  color : #ffffff;
  text-align: center;

  padding: 4px 4px;      
  margin: 12px 6px 12px 6px;
  border-radius : 8px;

  font-size: 14px;
}

.date-container {
  border : solid 4px #f89a20;
  border-radius : 8px;
  margin : 10px 10px 10px 10px;
}

#date-today{
  font-family: "Press Start 2P";
  font-size : 24px;
  text-align : center;
  margin : 0 0 0 0;
  padding : 10px 0 4px 0;
}

#month-today{
  font-size : 20px;
  text-align : center;
  margin : 0 0 8px 0;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: beige;
  padding: 16px;
  border-radius: 12px;
  border : solid 6px #f89a20;
  text-align: center;
  width: 220px;
  font-family : 'Pixelify Sans';
}

#gift-title {
  font-size : 24px;
  padding-bottom: 8px;
  text-align : center;
}

.gift-modal {
  line-height : 1.15;
  background: beige;
  padding: 16px;
  border-radius: 12px;
  border : solid 6px #f89a20;
  text-align: center;
  width: 240px;
  font-family : 'Pixelify Sans';
}

#modal-label {
  background-color: #f89a20;
  color: #ffffff;
  padding: 6px 8px;
  border-radius: 8px;
}

.modal-content input,
.modal-content select {
  width: 100%;
  margin-top: 8px;
  box-sizing: border-box;
  padding: 8px;
  font-family: 'Pixelify Sans';
  border-radius: 8px;
  border: solid 4px #f89a20;
}

.modal-actions {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  font-family: 'Pixelify Sans';
}

#save-birthday {
  background-color: beige;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  border : solid 4px #f89a20;
  cursor: pointer;
  font-family: 'Pixelify Sans';
}

#save-birthday:hover{
  transform: scale(1.03);
}

#cancel-birthday {
  background-color: beige;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  border : solid 4px #f89a20;
  cursor: pointer;
  font-family: 'Pixelify Sans';
}

#cancel-birthday:hover{
  transform: scale(1.03);
}

.button-container {
  position: absolute;
  display : flex;
  flex-direction : column;
  gap : 44px;

  top: 93px;
  right: 10px;    

  z-index: 10;

  background-color: beige;
  border : solid 6px #f89a20;
  border-radius : 16px;
  padding : 12px 12px 30px 12px;
}


.icon-btn {
  font-family: "Pixelify Sans";
  font-size: 16px;
  color : #4e2601;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  width: 48px;
  height: 48px;
}

.icon-btn img {
  width: 100%;
  height: 100%;
  image-rendering: pixelated; 
}

.icon-btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

#audio-toggle {
  position: fixed;
  top: 230px;
  left: 30px;
  align-items: center;
  gap: 8px;
  font-size: 13px;
}

#info-button {
  font-size: 11px;
}

.pet-wrapper {
  position: relative;
  width: 256px;
  height: 256px;

  margin: auto;
  margin-top: 0;
}

.shadow {
  position: absolute;  
  bottom: -79px;
  left: 47%;
  transform: translateX(-50%);

  width: 180px;

  pointer-events: none;
  z-index: 1;
}

.pet {
  position: relative;
  z-index: 1;
  
  width: 256px;
  height: 256px;

  display : flex;
  margin : auto;
  margin-top : 0px;

  image-rendering: pixelated;
}

.pet.normal {
  background : url(/asset/idle-cat-sprite.png);
  animation : idle 1.6s steps(16) infinite;
}

.pet.birthday {
  background : url(/asset/idle-cat-birthday-sprite.png);
  animation : idle 1.6s steps(16) infinite;
}

.pet.petting-normal {
  background : url(/asset/petting-cat-sprite.png);
  animation : petting 1.6s steps(16) 1;
}

.pet.petting-birthday {
  background : url(/asset/petting-cat-birthday-sprite.png);
  animation : petting 1.6s steps(16) 1;
}

.pet.chatting-normal {
  background : url(/asset/chatting-cat-sprite.png);
  animation : chatting 1.6s steps(16) 1;
}

.pet.chatting-birthday {
  background : url(/asset/chatting-cat-birthday-sprite.png);
  animation : chatting 1.6s steps(16) 1;
}

@keyframes idle {
  0% { 
    background-position: 0 0; 
    }
  100% { 
    background-position: -4096px 0 ;
    }
}

@keyframes petting {
  0% { 
    background-position: 0 0; 
    }
  100% { 
    background-position: -4096px 0 ;
    }
}

@keyframes chatting {
  0% { 
    background-position: 0 0; 
    }
  100% { 
    background-position: -4096px 0 ;
    }
}

.text_container {
  position: relative;
  margin: 0px 24px 0 24px; 
  padding: 18px 18px;
  border-radius: 8px;
  border : solid 4px #f89a20;
  background-color: beige;
  color: #4e2601;
  width: 80%;
  min-height: 50px;

  display: flex;
  flex-direction: column;

  margin-bottom : 16px;
}

.pet-name {
  font-size: 18px;
  margin: 0;
  padding: 0px 0 4px 0;
}

.hidden { display: none !important; }

#chat-form {
  width: 100%;        
  display: flex;
  flex-direction: column;
}

#chat-form label {
  cursor: pointer;
  display: block;
}

#chat-form input[type=radio]{
  accent-color: #f89a20;
  transform: scale(0.9); 
}

#chat-form button {
  position: absolute;
  bottom: 6px;
  right: 8px;

  align-self: flex-end;

  background: beige;
  border: 4px solid #f89a20;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;

  display: flex;
  align-items: center;

  gap: 6px;
  padding: 4px 6px;
}

#chat-form button:hover {
  opacity: 0.8;
  transform: scale(1.03);
}

#bubble-hint {
  display: block;
  margin-top: 6px;
  font-size: 10px;
  opacity: 0.6;
  font-family: 'Pixelify Sans';
}

.audio-toggle {
  position: fixed;
  top: 20px;
  left: 16px;

  width: 32px;
  height: 32px;

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.gift.hidden {
  display: none;
}

.gift {
  width: 128px;
  height: 128px;
  position:absolute;
  top: 57%;
  left: 2%;
  transform: translateX(-50%);
  transform: scale(0.8);
  cursor: pointer;
  z-index: 10;
  animation: gift-bounce 1.6s steps(16) infinite;
  background: url(/asset/gift-sprite.png);
  image-rendering: pixelated;
}

@keyframes gift-bounce {
  0% { 
    background-position: 0 0; 
    }
  100% { 
    background-position: -2048px 0 ;
    }
}

.gift-text {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 12px;
}

#close-gift {
  font-family: 'Pixelify Sans';
  background: none;
  border: none;
  font-size: 12px;
  opacity: 0.6;
  cursor: pointer;
}